/* ------------- Desktop styles (1180px) ------------- */

@media screen and (min-width: 1480px) {

  body {
    background-image: url(../images/backgrounds/bg-top.png),
                      url(../images/backgrounds/bg-group-1.png),
                      url(../images/backgrounds/bg-group-2.png),
                      url(../images/backgrounds/bg-group-3.png),
                      url(../images/backgrounds/bg-middle.png),
                      url(../images/backgrounds/bg-group-4.png),
                      url(../images/backgrounds/bg-group-1.png);
    background-position: center top,
                         left 1146px,
                         right 1442px,
                         left 2446px,
                         center 2662px,
                         right 3618px,
                         left 3880px;
  }

  .container {
    width: 1180px;
  }


  /* ------------- Header ------------- */

  .page-header {
    min-height: 116px;
  }

  /*.main-navigation_visible {
    min-height: auto;
    padding-bottom: 0;
  }*/

  .main-navigation__logo {
    margin-left: 0;
    margin-top: 27px;
    margin-right: 82px;
    margin-bottom: 23px;
  }

  .main-navigation__button {
    display: none;
  }

  .site-navigation_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    order: 1;
    width: auto;
    max-width: 540px;
    padding-top: 44px;

    border: none;
  }

  .site-navigation__item_header {
    margin-right: 48px;
    margin-bottom: 0;

    line-height: 30px;
  }

  .site-navigation__item_header:last-child {
    margin-right: 0;
  }

  .site-navigation__item_main {
    display: none;
  }

  .site-navigation__item_current {
    border: none;
  }

  .site-navigation__link_header {
    padding-bottom: 40px;

    font-size: 16px;
    line-height: 30px;
  }

  .user-navigation {
    order: 2;
    max-width: 340px;
    margin-left: auto;
  }

  .user-navigation__item {
    margin-right: 0;
    margin-left: 18px;
  }

  .language-navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: absolute;
    top: 42px;
    /*right: 40px;*/
    left: calc(50% + 620px);
    width: auto;
  }


  /* ------------- Main content ------------- */

  .page-content_inner {
    justify-content: flex-start;
  }

  .controls__button_back {
    margin-left: 0;
  }

  .controls__button_forward {
    margin-right: 0;
  }

  /* ------------- Intro ------------- */

  .intro {
    padding: 0 68px;
    padding-top: 118px;
    padding-bottom: 60px;

    background-position: 672px 105px;
  }

  .intro__text {
    width: 590px;
  }

  .intro__text_big {
    margin-bottom: 2px;

    font-size: 40px;
    line-height: 58px;
  }

  .intro__text_huge {
    margin-bottom: 69px;

    line-height: 90px;
  }


  /* ------------- Advantages ------------- */

  .advantages {
    padding-bottom: 100px;
  }

  .advantages-list {
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .advantages-item {
    width: 353px;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }


  /* ------------- Use cases ------------- */

  .use-cases h2 {
    margin-bottom: 40px;
  }

  .use-cases__list {
    justify-content: space-around;
  }

  .use-cases__item {
    display: block;
    width: 353px;
  }

  .use-cases__item:first-child,
  .use-cases__item:nth-child(4n + 4),
  .use-cases__item:nth-child(5n + 5) {
    width: 747px;
  }

  .use-cases__item,
  .use-cases__item_current {
    margin-bottom: 39px;
  }

  .use-cases__controls {
    display: none;
  }

  .use-cases__indicators {
    display: none;
  }

  .product-widget {
    padding-left: 343px;
    padding-right: 50px;
  }

  .product-widget__image {
    left: 43px;

    margin: 0;
  }

  .subscription-widget {
    padding-top: 43px;
    padding-right: 30px;
  }

  .subscription-widget__header {
    width: auto;
    margin-bottom: 14px;
  }

  .subscription-widget__price {
    margin: 0;
  }

  .subscription-widget__form-button_submit {
    position: relative;
    left: -10px;

    margin-bottom: 6px;
  }

  .advertising-widget {
    padding-top: 129px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advertising-widget::before {
    top: 40px;
  }

  .advertising-widget__header {
    margin-left: 10px;
  }

  .advertising-widget__form {
    margin-top: 17px;
    margin-left: 10px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .advertising-widget__price {
    margin-top: 21px;
    margin-right: 12px;
  }

  .advertising-widget__form-button_submit {
    margin-left: 0;
  }

  .donation-widget {
    padding-left: 411px;
    padding-right: 50px;
  }

  .donation-widget__header {
    margin-bottom: 8px;
  }

  .donation-widget__image {
    left: 50px;
  }

  .donation-widget__price {
    width: 100%;
    margin-top: 3px;
  }

  .donation-widget__form-field_text {
    margin-right: 42px;
  }

  .donation-widget__form-button_submit {
    width: 100%;
  }


  /* ------------- Reviews ------------- */

  .reviews {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 120px;
  }

  .reviews__wrapper,
  .reviews__list {
    width: 50%;
  }

  .reviews__wrapper {
    padding-top: 229px;
    padding-left: 20px;
    padding-right: 110px;
  }

  .reviews__header {
    margin-bottom: 21px;
  }

  .reviews__list {
    min-height: 587px;
    margin-bottom: 426px;
    padding-top: 32px;
  }

  .reviews__item {
    width: 550px;
    min-height: 150px;
  }

  /*.reviews__item_current {
    order: 1;
  }*/

  .reviews__text {
    position: relative;

    height: 75px;

    overflow: hidden;
  }

  .reviews__item_current .reviews__text {
    height: auto;

    overflow: visible;
  }

  .reviews__text::after {
    content: "";

    position: absolute;
    bottom: 0;

    display: block;
    width: 100%;
    height: 30px;

    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
  }

  .reviews__item_current .reviews__text::after {
    display: none;
  }

  .reviews__text_big {
    height: auto;

    overflow: visible;
  }

  .reviews__text_big::after {
    display: none;
  }

  .reviews__controls {
    top: 342px;
    left: 578px;

    width: auto;

    transform: rotate(90deg);
  }

  .reviews__controls .controls__button_back {
    right: 82px;
  }


  /* ------------- Integration ------------- */

  .integration {
    padding: 0;
    padding-bottom: 171px;
  }

  .integration h2 {
    margin-bottom: 20px;
  }

  .integration__text_big {
    margin-bottom: 42px;

    font-size: 40px;
    line-height: 58px;
  }

  .integration__item {
    width: 118px;
    margin-bottom: 37px;
  }

  /* ------------- Reset ------------- */

  .reset {
    padding-top: 159px;
  }


  /* ------------- Footer ------------- */

  .page-footer {
    align-items: flex-start;
    padding: 0;
    padding-bottom: 60px;
  }

  .page-footer__logo {
    order: 0;
    margin-right: 191px;
    margin-bottom: 0;
  }

  .socials {
    justify-content: center;
    width: auto;
    max-width: 200px;
    margin-top: 18px;
    margin-right: 68px;
    margin-bottom: 0;
  }

  .page-footer__socials {
    order: 2;
  }

  .site-navigation_footer {
    order: 1;
    width: 480px;
  }

  .site-navigation__item_footer {
    width: 180px;
    margin-right: 0;
  }

  .site-navigation__item_footer:nth-child(2n+1) {
    margin-right: 120px;
  }

}
