/* ------------- Fonts ------------- */

@font-face {
  font-family: "GothamPro-Light";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Light"),
       url(../fonts/web/GothamPro-Light.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Light.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro"), local("GothamPro-Regular"),
       url(../fonts/web/GothamPro-Regular.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Regular.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Medium"),
       url(../fonts/web/GothamPro-Medium.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Medium.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Bold"),
       url(../fonts/web/GothamPro-Bold.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Bold.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Black";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Black"),
       url(../fonts/web/GothamPro-Black.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Black.woff) format("woff");
}


/* ------------- Сommon styles ------------- */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #32325d;

  background-color: #f5f7fa;
}

.container {
  position: relative;

  /*display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;

  max-width: 1180px;
  min-width: 300px;
  min-height: 100vh;*/
  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.button {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  font-family: "GothamPro-Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  /*word-break: break-word;*/
  color: #ffffff;

  background-color: #666666;
  border: none;
}

.button_blue {
  background-color: #3d3b7f;
}

/*.button_blue:hover,
.button_blue:focus {
  background-color: #3d3b7f;
}*/

.button_red {
  background-color: #cf453c;
}

/*.button_red:hover,
.button_red:focus {
  background-color: #cf453c;
}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/*legend.visually-hidden {
  display: block;
}*/

/* ------------- Sprite ------------- */

/*.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-advantage-icon-1 {
    width: 94px;
    height: 93px;
    background-position: -5px -5px;
}

.sprite-advantage-icon-2 {
    width: 153px;
    height: 88px;
    background-position: -109px -5px;
}

.sprite-advantage-icon-3 {
    width: 93px;
    height: 90px;
    background-position: -272px -5px;
}

.sprite-advantage-icon-4 {
    width: 117px;
    height: 89px;
    background-position: -375px -5px;
}

.sprite-advantage-icon-5 {
    width: 131px;
    height: 90px;
    background-position: -109px -104px;
}

.sprite-advantage-icon-6 {
    width: 122px;
    height: 88px;
    background-position: -375px -104px;
}

.sprite-advertising-icon {
    width: 54px;
    height: 75px;
    background-position: -502px -5px;
}

.sprite-cashbox-icon {
    width: 186px;
    height: 180px;
    background-position: -250px -202px;
}

.sprite-checkbox-icon {
    width: 14px;
    height: 11px;
    background-position: -566px -5px;
}

.sprite-close-button-icon {
    width: 17px;
    height: 17px;
    background-position: -566px -26px;
}

.sprite-company-icon {
    width: 68px;
    height: 88px;
    background-position: -507px -90px;
}

.sprite-exit-icon {
    width: 15px;
    height: 16px;
    background-position: -566px -53px;
}

.sprite-facebook-icon-grey {
    width: 10px;
    height: 18px;
    background-position: -5px -188px;
}

.sprite-facebook-icon-white {
    width: 10px;
    height: 18px;
    background-position: -25px -188px;
}

.sprite-menu-icon {
    width: 20px;
    height: 17px;
    background-position: -45px -188px;
}

.sprite-person-icon {
    width: 88px;
    height: 100px;
    background-position: -446px -202px;
}

.sprite-robot {
    width: 422px;
    height: 456px;
    background-position: -593px -5px;
}

.sprite-twitter-icon-grey {
    width: 25px;
    height: 18px;
    background-position: -5px -471px;
}

.sprite-twitter-icon-white {
    width: 25px;
    height: 18px;
    background-position: -40px -471px;
}

.sprite-user-icon {
    width: 16px;
    height: 17px;
    background-position: -75px -471px;
}

.sprite-vkontakte-icon-grey {
    width: 25px;
    height: 15px;
    background-position: -101px -471px;
}

.sprite-vkontakte-icon-white {
    width: 25px;
    height: 15px;
    background-position: -136px -471px;
}*/


/* ------------- Mobile styles (320px) ------------- */

.container {
  width: 300px;
}

/* ------------- Header ------------- */

.container_page-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page-header {
  background-color: #4d44d6;
}

.main-navigation__logo {
  order: 0;
}

.main-navigation__button {
  order: 1;
  margin-left: auto;
}

.site-navigation,
.user-navigation,
.language-navigation {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-navigation_header {
  order: 2;
}

.site-navigation__link_header {
  color: #ffffff;
}

.user-navigation {
  order: 3;
}

.language-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.language-navigation__button {
  color: #ffffff;
}


/* ------------- Main content ------------- */

.indicators {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/* ------------- Advantages ------------- */

.advantages-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-item {
  width: 300px;
}

/* ------------- Use cases ------------- */

.use-cases__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.use-cases__item {
  width: 300px;
}

/* ------------- Reviews ------------- */

.reviews__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reviews__item {
  width: 300px;
}

/* ------------- Integration ------------- */

.integration__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

/* ------------- Registration ------------- */

.registration-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.registration-form__label_radio,
.registration-form__field_text {
  width: 100%;
}

/* ------------- Enter ------------- */

.enter-form__field_text {
  width: 100%;
}

/* ------------- Reset ------------- */

.reset-form__field_text {
  width: 100%;
}


/* ------------- Footer ------------- */

.page-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}

.socials {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-navigation_footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.site-navigation__item_footer {
  width: 50%;
}

.site-navigation__link_footer {
  color: #666666;
}



/* ------------- Tablet styles (768px) ------------- */

@media screen and (min-width: 768px) {

  .container {
    width: 708px;
  }

  /* ------------- Header ------------- */

  .main-navigation__logo {
    order: 0;
  }

  .main-navigation__button {
    order: 2;
  }

  .site-navigation_header {
    order: 3;
  }

  .user-navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    order: 1;
    width: auto;
  }


  /* ------------- Main content ------------- */

  /* ------------- Advantages ------------- */

  .advantages-item {
    width: 323px;
  }

  /* ------------- Use cases ------------- */

  .use-cases__item {
    width: 688px;
  }

  /* ------------- Reviews ------------- */

  .reviews__item {
    width: 688px;
  }

  /* ------------- Registration ------------- */

  .registration-form {
    width: 450px;
  }

  .registration-form__label_radio {
    width: 210px;
  }

  .registration-form__field_text {
    width: 360px;
  }

  /* ------------- Enter ------------- */

  .enter-form {
    width: 360px;
  }

  /* ------------- Reset ------------- */

  .reset-form {
    width: 360px;
  }


  /* ------------- Footer ------------- */

  .page-footer {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }

  .socials {
    width: auto;
    margin-left: auto;
  }

  .site-navigation__item_footer {
    width: auto;
  }


}


/* ------------- Desktop styles (1180px) ------------- */

@media screen and (min-width: 1200px) {

  .container {
    width: 1180px;
  }

  /* ------------- Header ------------- */

  .main-navigation__logo {
    order: 0;
  }

  .main-navigation__button {
    order: 3;
  }

  .site-navigation_header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    order: 1;
    width: auto;
  }

  .user-navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    order: 2;
    width: auto;
  }

  .language-navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
  }


  /* ------------- Main content ------------- */

  /* ------------- Advantages ------------- */

  .advantages-item {
    width: 353px;
  }

  /* ------------- Use cases ------------- */

  .use-cases__item {
    width: 353px;
  }

  .use-cases__item:first-child,
  .use-cases__item:nth-child(4n + 4),
  .use-cases__item:nth-child(5n + 5) {
    width: 747px;
  }

  /* ------------- Reviews ------------- */

  .reviews {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .reviews__wrapper,
  .reviews__list {
    width: 50%;
  }

  .reviews__item {
    width: 550px;
  }


  /* ------------- Footer ------------- */

  .page-footer__logo {
    order: 0;
  }

  .page-footer__socials {
    order: 2;
  }

  .site-navigation_footer {
    order: 1;
    width: auto;
  }

  .site-navigation__item_footer {
    width: 50%;
  }

}
