/* ------------- Fonts ------------- */

@font-face {
  font-family: "GothamPro-Light";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Light"),
       url(../fonts/web/GothamPro-Light.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Light.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro"), local("GothamPro-Regular"),
       url(../fonts/web/GothamPro-Regular.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Regular.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Medium"),
       url(../fonts/web/GothamPro-Medium.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Medium.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Bold"),
       url(../fonts/web/GothamPro-Bold.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Bold.woff) format("woff");
}

@font-face {
  font-family: "GothamPro-Black";
  font-style: normal;
  font-weight: normal;
  src: local("GothamPro-Black"),
       url(../fonts/web/GothamPro-Black.woff2) format("woff2"),
       url(../fonts/web/GothamPro-Black.woff) format("woff");
}


/* ------------- Сommon styles ------------- */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #32325d;

  background-color: #f5f7fa;
  background-repeat: no-repeat;
}

.container {
  position: relative;

  margin: 0 auto;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  padding: 0;

  border: none;

  cursor: pointer;
}

button[disabled] {
  cursor: default;
}

.button {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 25px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  word-break: break-word;
  color: #ffffff;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

.button:hover,
.button:focus {
  background-color: #7665e3;
}

.button_big {
  padding: 18px 28px;

  font-family: "GothamPro-Bold", "Arial", sans-serif;
  font-size: 18px;

  border-radius: 35px;
}

.button_medium {
  padding: 5px 15px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 18px;

  border-radius: 35px;
}

.button_white {
  color: #0e327a;

  background-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 1);
}

.button_white:hover,
.button_white:focus {
  color: #ffffff;

  background-color: #9281e9;
  border: 1px solid #9281e9;
}

.button_blue {
  background-color: #3d3b7f;

  -webkit-box-shadow: 0 7px 25px rgba(43, 81, 144, 0.4);
  box-shadow: 0 7px 25px rgba(43, 81, 144, 0.4);
}

.button_blue:hover,
.button_blue:focus {
  background-color: #504da7;
}

.button_red {
  background-color: #cf453c;
}

.button_red:hover,
.button_red:focus {
  background-color: #ed6f6f;
}

.inline-link {
  text-decoration: underline;
  color: #4a9ad8;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

legend.visually-hidden {
  display: block;
}
