/* ------------- Mobile styles (320px) ------------- */

body {
  background-image: url(../images/backgrounds/bg-stars.png),
                    url(../images/backgrounds/bg-chains.png),
                    url(../images/backgrounds/bg-logos.png),
                    url(../images/backgrounds/bg-top.png);
  background-position: -430px 216px,
                       -690px 63px,
                       -578px 163px,
                       center top;
}

.main-page_visible {
  background-position: -430px 676px,
                       -690px 523px,
                       -578px 623px,
                       center 460px;
}

.inner-page {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: 100vh;

  background-image: none;
}

.inner-page_visible {
  height: auto;
}

.inner-page__main-header {
  margin: 0;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.container {
  width: 320px;
}


/* ------------- Header ------------- */

.page-header {
  min-height: 80px;
}

.page-header_inner {
  color: #ffffff;

  background-color: #333cc9;
  background-image: url(../images/backgrounds/bg-top.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.container_page-header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-navigation {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
}

.main-navigation_visible {
  min-height: 540px;
  padding-bottom: 18px;

  background-image: linear-gradient(to right bottom, #323bc9, #7f53ed);
}

.main-navigation__logo {
  order: 0;
  margin-top: 13px;
  margin-left: 20px;
  margin-bottom: 14px;
}

.logo__image {
  width: auto;
  height: auto;
}

.logo__image_white {
  max-width: 166px;
  max-height: 53px;
}

.main-navigation__button {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  order: 1;
  margin-left: auto;
  margin-top: 28px;
  margin-right: 20px;
  padding: 0;

  background-color: transparent;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  border: none;
}

.main-navigation__button:hover,
.main-navigation__button:focus {
  opacity: 0.5;
}

.main-navigation__button_open {
  width: 20px;
  height: 17px;

  background-position: -45px -188px;
}

.main-navigation__button_close {
  width: 20px;
  height: 17px;

  background-position: -563px -26px;
}

.main-navigation__button_hidden {
  display: none;
}

.site-navigation,
.user-navigation,
.language-navigation {
  width: 100%;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.site-navigation_header {
  display: none;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  order: 2;
  margin-bottom: 10px;
  padding-top: 34px;

  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.site-navigation_visible {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.site-navigation__item_header {
  line-height: 28px;

  margin-bottom: 22px;
}

.site-navigation__item_current {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.site-navigation__link_header {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;

  color: #ffffff;

  border-bottom: 2px solid transparent;
}

.site-navigation__link_header:hover,
.site-navigation__link_header:focus,
.site-navigation__link_current {
  border-bottom: 2px solid #ffffff;
}

.user-navigation {
  display: none;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  order: 3;
  min-height: 104px;
}

.user-navigation_visible {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.user-navigation__item {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  margin-bottom: 10px;
}

.user-navigation__item_exit {
  margin-left: 19px;
  margin-bottom: 24px;
}

.user-navigation__item_hidden {
  display: none;
}

.user-navigation__button {
  position: relative;

  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  min-width: 202px;
  max-width: 300px;
}

.user-navigation__button_personal-area {
  min-width: 170px;
  padding-left: 45px;
  padding-right: 20px;
}

.user-navigation__button_personal-area::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 20px;

  display: block;
  width: 16px;
  height: 17px;

  background-image: url(../images/sprite.png);
  background-position: -75px -471px;
  background-repeat: no-repeat;

  transform: translateY(-50%);
}

.user-navigation__button_exit {
  width: 15px;
  min-width: auto;
  height: 16px;

  background-color: transparent;
  background-image: url(../images/sprite.png);
  background-position: -566px -53px;
  background-repeat: no-repeat;
  border: none;
}

.user-navigation__button_exit:hover,
.user-navigation__button_exit:focus {
  opacity: 0.5;
}

.language-navigation {
  display: none;
}

.language-navigation_visible {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.language-navigation__button {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  padding: 0 9px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.5);
}

.language-navigation__button:hover,
.language-navigation__button:focus,
.language-navigation__button_current {
  color: rgba(255, 255, 255, 1);
}


/* ------------- Main content ------------- */

.page-content_inner {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 34px 0;
}

.indicators {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;
}

.indicator_pagination {
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  background-color: #d7d9e3;
  border-radius: 50%;
}

.indicator_pagination:last-child {
  margin-right: 0;
}

.indicator_pagination_current {
  background-color: #32335c;
}

.indicator_radio {
  position: absolute;
  top: 5px;
  left: -27px;

  display: block;
  width: 30px;
  height: 30px;

  border: 1px solid #afafc0;
  border-radius: 50%;
}


/* ------------- Intro ------------- */

.intro {
  position: relative;

  padding-bottom: 20px;
  padding-top: 386px;
}

.intro::after {
  content: "";

  position: absolute;
  top: 42px;
  left: 50%;

  display: block;
  width: 310px;
  height: 347px;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -410px -5px;
  -webkit-background-size: cover;
  background-size: cover;

  transform: translateX(-50%);
}

.intro__text {
  margin: 0;
  padding: 0 17px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;

  color: #ffffff;
}

.intro__text strong {
  font-family: "GothamPro-Bold", "Arial", sans-serif;
}

.intro__text_big,
.intro__text_huge {
  font-family: "GothamPro-Regular", "Arial", sans-serif;
  line-height: 40px;
}

.intro__text_big {
  margin-bottom: 7px;

  font-size: 25px;
}

.intro__text_huge {
  margin-bottom: 20px;

  font-size: 26px;
}


/* ------------- Advantages ------------- */

.advantages {
  padding-bottom: 41px;

  text-align: center;
}

.advantages-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-item {
  position: relative;

  display: none;
  width: 300px;
  min-height: 404px;
  margin-bottom: 20px;
  padding: 0 10px;
  padding-top: 180px;
  padding-bottom: 40px;

  text-align: center;

  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
  box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
}

.advantages-item_current {
  display: block;
}

.advantages-item::before {
  content: "";

  position: absolute;
  top: 97px;
  left: 50%;

  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);
}

.advantages-item_methods::before {
  width: 94px;
  height: 93px;

  background-position: -5px -5px;
}

.advantages-item_payments::before {
  width: 153px;
  height: 88px;

  background-position: -109px -5px;
}

.advantages-item_widget::before {
  width: 93px;
  height: 90px;

  background-position: -272px -5px;
}

.advantages-item_automation::before {
  width: 117px;
  height: 89px;

  background-position: -375px -5px;
}

.advantages-item_cashbox::before {
  width: 131px;
  height: 90px;

  background-position: -109px -104px;
}

.advantages-item_modules::before {
  width: 122px;
  height: 88px;

  background-position: -375px -104px;
}

.advantages-header {
  margin: 0;
  margin-bottom: 10px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
}

.advantages-text {
  margin: 0;
}

.advantages__button {
  max-width: 300px;
  margin-bottom: 21px;
}

.advantages-comment {
  margin: 0;
  margin-bottom: 7px;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: rgba(50, 50, 93, 0.5);
}


/* ------------- Use cases ------------- */

.use-cases {
  padding-bottom: 97px;
}

.use-cases h2 {
  margin: 0;
  margin-bottom: 10px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.use-cases__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.use-cases__item {
  display: none;
  width: 300px;
  margin-bottom: 20px;
  padding: 30px;
  padding-left: 22px;
  padding-right: 18px;

  background-color: #ffffff;
  border-radius: 5px;

  -webkit-box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
  box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
}

.use-cases__item_donation {
  padding-top: 0;
  padding-left: 22px;
}

.use-cases__item_current {
  display: block;
  margin-bottom: 26px;
}

.use-cases__header {
  margin: 0;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
}

.use-cases__price {
  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 100;
  letter-spacing: -2px;
}

.use-cases__controls {
  display: none;
}

.product-widget {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}

.product-widget__header {
  order: 1;
  margin-left: 10px;
  margin-bottom: 6px;
}

.product-widget__picture {
  margin: auto;
}

.product-widget__image {
  order: 0;
  width: auto;
  max-width: 178px;
  height: auto;
  max-height: 210px;
  margin: auto;
  margin-bottom: 30px;
}

.product-widget__text {
  order: 2;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;

  line-height: 20px;
}

.product-widget__price {
  order: 3;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: auto;
}

.product-widget__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  order: 4;
  width: 120px;
  height: 42px;
  margin-top: 11px;
  margin-bottom: 20px;
  padding: 0 17px;

  border: 1px solid #adadbe;
  border-radius: 30px;
}

.product-widget__form-field_text {
  width: 32px;
  margin: 0 4px;
  padding: 0;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;

  border: none;
}

.product-widget__form-button_decrease,
.product-widget__form-button_increase {
  width: 25px;
  padding: 0;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;

  background-color: transparent;
  border: none;
}

.product-widget__form-button_decrease:hover,
.product-widget__form-button_decrease:focus,
.product-widget__form-button_increase:hover,
.product-widget__form-button_increase:focus {
  opacity: 0.5;
}

.product-widget__form-button_decrease:disabled:hover,
.product-widget__form-button_decrease:disabled:focus,
.product-widget__form-button_increase:disabled:hover,
.product-widget__form-button_increase:disabled:focus {
  opacity: 1;
}

.product-widget__form-button_submit {
  order: 5;
  width: 100%;
}

.subscription-widget {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.subscription-widget__header {
  order: 1;
  margin-left: 10px;
  margin-bottom: 32px;
}

.subscription-widget__image {
  display: block;
  width: auto;
  max-width: 160px;
  height: auto;
  max-height: 210px;
  margin-bottom: 6px;
}

.subscription-widget__link {
  order: 0;
  margin-left: 10px;
  margin-bottom: 25px;

  line-height: 20px;
}

.subscription-widget__price {
  order: 2;
  margin-left: 10px;
  margin-bottom: 41px;
}

.subscription-widget__form {
  order: 3;
  width: 100%;
}

.subscription-widget__form-button_submit {
  width: 100%;
}

.advertising-widget {
  position: relative;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 99px;
  padding-bottom: 20px;
}

.advertising-widget::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 10px;

  display: block;
  width: 54px;
  height: 75px;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -502px -5px;
}

.advertising-widget__header {
  order: 0;
  margin-left: 10px;
  margin-bottom: 39px;
}

.advertising-widget__form {
  order: 1;
  margin-left: 10px;
  margin-right: auto;
  margin-bottom: 45px;
}

.advertising-widget__form-label {
  display: block;

  line-height: 20px;
}

.advertising-widget__form-select {
  position: relative;
  left: -8px;

  display: block;
  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.advertising-widget__price {
  order: 2;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 41px;
}

.advertising-widget__form-button_submit {
  order: 3;
  width: 100%;
}

.donation-widget {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}

.donation-widget__image {
  order: 0;
  width: auto;
  max-width: 139px;
  height: auto;
  max-height: 183px;
  margin-left: 28px;
  margin-right: auto;
  margin-bottom: 20px;
}

.donation-widget__header {
  order: 2;
  margin-left: 25px;
  margin-bottom: 14px;
}

.donation-widget__link {
  order: 1;
  margin-top: auto;
  margin-left: 28px;
  margin-right: 16px;
  margin-bottom: 13px;

  line-height: 20px;
}

.donation-widget__form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  order: 3;
  width: 100%;
  margin-left: 27px;
}

.donation-widget__form-label {
  position: relative;

  padding-left: 12px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: -1px;

  cursor: pointer;
}

.donation-widget__form-field_radio:checked + .donation-widget__form-label .indicator_radio::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 6px;

  display: block;
  width: 16px;
  height: 16px;

  background-image: linear-gradient(to right, #38b7c2, #5090e0);
  border-radius: 50%;
}

.donation-widget__form-field_radio:focus + .donation-widget__form-label .indicator_radio {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.donation-widget__price {
  margin-top: 2px;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 34px;
}

.donation-widget__form-field_text {
  width: 183px;
  margin-right: 6px;
  padding: 0 10px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;

  border: none;
  border-bottom: 1px solid #000;
}

.donation-widget__form-field_text::-webkit-input-placeholder {
  color: rgba(50, 50, 93, 0.3);
}

.donation-widget__form-field_text:-ms-input-placeholder {
  color: rgba(50, 50, 93, 0.3);
}

.donation-widget__form-field_text::-ms-input-placeholder {
  color: rgba(50, 50, 93, 0.3);
}

.donation-widget__form-field_text::placeholder {
  color: rgba(50, 50, 93, 0.3);
}

.donation-widget__form-button_submit {
  order: 4;
  width: 100%;
}


/* ------------- Reviews ------------- */

.reviews {
  position: relative;

  padding-bottom: 60px;
}

.reviews::before {
  content: "";

  position: absolute;
  top: -263px;
  left: 0;

  display: block;
  width: 100%;
  height: 1089px;

  background-image: url(../images/backgrounds/bg-stars.png),
                    url(../images/backgrounds/bg-chains.png),
                    url(../images/backgrounds/bg-logos.png),
                    url(../images/backgrounds/bg-middle.png);
  background-repeat: no-repeat;
  background-position: -430px 216px,
                       -690px 63px,
                       -578px 163px,
                       center top;

  z-index: -1;
}

.container_reviews {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.reviews__wrapper {
  padding-left: 15px;
  padding-right: 5px;
}

.reviews__header {
  margin: 0;
  margin-bottom: 23px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.reviews__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.reviews__item {
  order: 1;
  display: none;
  width: 300px;
  min-height: 384px;
  margin-bottom: 20px;
  padding: 0 15px;
  padding-top: 24px;
  padding-bottom: 18px;

  background-color: #ffffff;
  border-radius: 5px;

  -webkit-box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
  box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
}

.reviews__item_current {
  order: 0;
  display: block;
}

.reviews__article {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.reviews__image {
  width: auto;
  max-width: 100px;
  height: auto;
  max-height: 100px;
  margin-bottom: 24px;
}

.reviews__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.reviews__author {
  order: 0;
  margin-bottom: 5px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
  text-align: center;
}

.reviews__text {
  order: 1;
  margin: 0;
  margin-bottom: 5px;

  line-height: 25px;
  text-align: center;
}

.reviews__text_big {
  display: block;
  margin-bottom: 27px;

  font-size: 25px;
  font-weight: normal;
  line-height: 40px;
  text-align: left;
  color: #ffffff;
}

.reviews__controls {
  display: none;
}

.reviews__indicators {
  margin-bottom: 277px;
}

.reviews__button {
  position: relative;

  max-width: 300px;
  padding: 26px 24px;

  font-size: 15px;
  line-height: 20px;
}

.reviews__button:before {
  content: "";

  position: absolute;
  top: -214px;


  display: block;
  width: 186px;
  height: 180px;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -250px -202px;
}


/* ------------- Integration ------------- */

.integration {
  padding: 0 10px;
  padding-bottom: 74px;

  text-align: center;
}

.integration h2 {
  margin: 0;
  margin-bottom: 32px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.integration__text {
  margin: 0;
}

.integration__text_big {
  display: block;
  margin-bottom: 28px;

  font-size: 25px;
  line-height: 40px;
  font-weight: normal;
}

.integration__list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-right: 15px;

  list-style-type: none;
}

.integration__item {
  width: 92px;
  margin-bottom: 30px;
}

.integration__image {
  width: 57%;
  margin: auto;
}


/* ------------- Registration ------------- */

.registration {
  padding: 0 10px;
}

.registration__header {
  margin-bottom: 10px;
}

.registration__text {
  margin: 0;
  margin-bottom: 21px;

  line-height: 25px;
  text-align: center;
}

.registration-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.registration-form__wrapper {
  padding: 0 10px;
}

.registration-form__label {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.registration-form__label_radio,
.registration-form__field_text {
  width: 100%;
}

.registration-form__label_radio {
  position: relative;

  margin-bottom: 10px;
  padding: 18px 28px;
  padding-left: 138px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  font-size: 18px;
  line-height: 32px;
  word-break: break-word;

  background-color: transparent;
  border: 1px dashed #4d91dd;
  border-radius: 35px;

  -webkit-box-shadow: none;
  box-shadow: none;

  cursor: pointer;
}

.registration-form__label_radio_company {
  margin-bottom: 41px;
}

.registration-form__label_radio::before {
  content: "";

  position: absolute;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}

.registration-form__label_radio_person::before {
  top: -17px;
  left: 53px;

  width: 88px;
  height: 100px;

  background-position: -446px -202px;

  transform: scale(0.5);
}

.registration-form__label_radio_company::before {
  top: -11px;
  left: 63px;

  width: 68px;
  height: 88px;

  background-position: -507px -90px;

  transform: scale(0.5);
}

.registration-form__field_radio:checked + .registration-form__label_radio {
  background-color: #ffffff;
  border: 1px solid #ffffff;

  -webkit-box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
  box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
}

.registration-form__field_radio:focus + .registration-form__label_radio .indicator_radio {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.registration-form__label_radio:hover,
.registration-form__label_radio:focus {
  background-color: #ffffff;
  border: 1px solid #ffffff;

  -webkit-box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
  box-shadow: 0 7px 25px rgba(43, 81, 144, 0.2);
}

.registration-form__field_radio + .registration-form__label_radio .registration-form__indicator_radio {
  top: 15px;
  left: 18px;

  width: 36px;
  height: 36px;
}

.registration-form__field_radio:checked + .registration-form__label_radio .registration-form__indicator_radio::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  display: block;
  width: 18px;
  height: 18px;

  background-image: linear-gradient(to right, #38b7c2, #5090e0);
  border-radius: 50%;
}

.registration-form__field_text {
  padding: 0 10px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a7a8bb;
}

.registration-form__label_phone {
  margin-bottom: 48px;
}

.registration-form__label_required {
  pointer-events: none;
}

.registration-form__field_invalid {
  border-bottom: 1px solid #cf453c;
}

.registration-form__signature {
  position: absolute;
  top: -29px;
  left: 10px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: rgba(50, 50, 93, 0.8);

  transition: all 0.2s;
}

.registration-form__signature_invalid {
  color: #cf453c;
}

.registration-form__field_valid + .registration-form__label .registration-form__signature_invalid,
.registration-form__field_invalid + .registration-form__label .registration-form__signature_valid {
  display: none;
}

.registration-form__field_valid + .registration-form__label .registration-form__signature_valid,
.registration-form__field_invalid + .registration-form__label .registration-form__signature_invalid {
  display: block;
}

.registration-form__signature sup {
  position: relative;
  top: -3px;
  left: 5px;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 20px;
  color: #cf453c;
}

.registration-form__field_text:focus + .registration-form__label .registration-form__signature,
.registration-form__signature_focused {
  position: absolute;
  top: -50px;
  left: 0;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.registration-form__field_text:focus + .registration-form__label .registration-form__signature sup,
.registration-form__signature_focused sup {
  top: -2px;
  left: 3px;

  font-size: 15px;
}

.registration-form__fieldset {
  display: none;
  margin: 0;
  padding: 0;

  border: none;
}

.registration-form__fieldset_visible {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;

  width: 100%;
  margin-bottom: 21px;
}

.registration-form__button_extra-data {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 45px;
  padding-left: 10px;
  padding-right: 20px;

  font-family: "GothamPro-Medium", "Arial", sans-serif;
  text-align: left;

  background-color: transparent;
  border: none;
}

.registration-form__button_extra-data::before,
.registration-form__button_extra-data::after {
  content: "";

  position: absolute;

  display: block;
  width: 9px;
  height: 2px;

  background-color: #32325d;
}

.registration-form__button_extra-data::before {
  top: 6px;
  right: 5px;

  transform: rotate(45deg);
}

.registration-form__button_extra-data::after {
  top: 6px;
  right: 0;

  transform: rotate(-45deg);
}

.registration-form__button_extra-data_visible {
  margin-bottom: 39px;
}

.registration-form__button_extra-data_visible::before {
  transform: rotate(135deg);
}

.registration-form__button_extra-data_visible::after {
  transform: rotate(-135deg);
}

.registration-form__button_extra-data_hidden::before,
.registration-form__button_extra-data_hidden::after {
  display: none;
}

.registration-form__label_agreement {
  position: relative;

  display: block;
  margin-bottom: 26px;
  padding-left: 30px;

  font-size: 12px;
  line-height: 14px;

  cursor: pointer;
}

.registration-form__indicator_checkbox {
  position: absolute;
  top: -3px;
  left: 0;

  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: 1px solid #adadbe;
  border-radius: 2px;
}

.registration-form__field_checkbox:checked + .registration-form__label .registration-form__indicator_checkbox {
  background-color: #3d3b7f;
  border: 1px solid #3d3b7f;
}

.registration-form__field_checkbox:checked + .registration-form__label .registration-form__indicator_checkbox::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 2px;

  display: block;
  width: 14px;
  height: 11px;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -566px -5px;
}

.registration-form__field_checkbox:focus + .registration-form__label .registration-form__indicator_checkbox {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.registration-form__button_submit {
  width: 100%;
  margin-bottom: 10px;
  padding: 22px 28px;

  font-size: 16px;
  line-height: 30px;
}

.registration-form__button_submit_google {
  position: relative;

  margin-bottom: 30px;
  padding: 20px 28px;
  padding-left: 80px;

  line-height: 32px;
  color: #3d3b7f;

  border: 1px solid #353577;
}

.registration-form__button_submit_google:hover,
.registration-form__button_submit_google:focus {
  color: #ffffff;

  background-color: #504da7;
}

.registration-form__button_submit_google::before {
  content: "";

  position: absolute;
  top: 19px;
  left: 33px;

  display: block;
  width: 33px;
  height: 34px;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -200px -451px;
}


/* ------------- Enter ------------- */

.enter {
  padding: 0 20px;
}

.enter__header {
  font-size: 23px;
}

.enter__text {
  margin: 0;
  margin-bottom: 32px;

  line-height: 25px;
  text-align: center;
}

.enter-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.enter-form__field_text {
  width: 100%;
  padding: 0 10px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a7a8bb;
}

.enter-form__label {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 32px;
  padding-left: 10px;
}

.enter-form__label_password {
  margin-bottom: 40px;
}

.enter-form__label_required {
  pointer-events: none;
}

.enter-form__label_remember-password {
  width: auto;
  margin-bottom: 28px;

  font-size: 12px;
  line-height: 14px;

  cursor: pointer;
}

.enter-form__field_invalid {
  border-bottom: 1px solid #cf453c;
}

.enter-form__signature {
  position: absolute;
  top: -29px;
  left: 10px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: rgba(50, 50, 93, 0.8);

  transition: all 0.2s;
}

.enter-form__signature_invalid {
  color: #cf453c;
}

.enter-form__field_valid + .enter-form__label .enter-form__signature_invalid,
.enter-form__field_invalid + .enter-form__label .enter-form__signature_valid {
  display: none;
}

.enter-form__field_valid + .enter-form__label .enter-form__signature_valid,
.enter-form__field_invalid + .enter-form__label .enter-form__signature_invalid {
  display: block;
}

.enter-form__signature sup {
  position: relative;
  top: -3px;
  left: 5px;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 20px;
  color: #cf453c;
}

.enter-form__field_text:focus + .enter-form__label .enter-form__signature,
.enter-form__signature_focused {
  position: absolute;
  top: -50px;
  left: 0;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.enter-form__field_text:focus + .enter-form__label .enter-form__signature sup,
.enter-form__signature_focused sup {
  top: -2px;
  left: 3px;

  font-size: 15px;
}

.enter-form__indicator_checkbox {
  position: absolute;
  top: -4px;
  left: -18px;

  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border: 1px solid #3d3b7f;
  border-radius: 2px;
}

.enter-form__field_checkbox:checked + .enter-form__label .enter-form__indicator_checkbox {
  background-color: #3d3b7f;
}

.enter-form__field_checkbox:checked + .enter-form__label .enter-form__indicator_checkbox::before {
  content: "";

  position: absolute;
  top: 3px;
  left: 2px;

  display: block;
  width: 14px;
  height: 11px;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -566px -5px;
}

.enter-form__field_checkbox:focus + .enter-form__label .enter-form__indicator_checkbox {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.enter-form__button_submit {
  width: 100%;
  margin-bottom: 8px;
  padding: 22px 28px;

  font-size: 16px;
  line-height: 30px;
}

.enter-form__button_submit_google {
  position: relative;

  margin-bottom: 30px;
  padding: 20px 28px;
  padding-left: 80px;

  line-height: 32px;
  color: #3d3b7f;

  border: 1px solid #353577;
}

.enter-form__button_submit_google:hover,
.enter-form__button_submit_google:focus {
  color: #ffffff;

  background-color: #504da7;
}

.enter-form__button_submit_google::before {
  content: "";

  position: absolute;
  top: 19px;
  left: 33px;

  display: block;
  width: 33px;
  height: 34px;

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: -200px -451px;
}

.enter-form__link {
  font-size: 12px;
  line-height: 14px;
}


/* ------------- Reset ------------- */

.reset {
  padding: 0 20px;
}

.reset__header {
  margin-bottom: 18px;

  font-size: 25px;
}

.reset-form__field_text {
  width: 100%;
  padding: 0 10px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a7a8bb;
}

.reset-form__label {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10px;
}

.reset-form__label_required {
  pointer-events: none;
}

.reset-form__field_invalid {
  border-bottom: 1px solid #cf453c;
}

.reset-form__signature {
  position: absolute;
  top: -29px;
  left: 10px;

  font-family: "GothamPro-Light", "Arial", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: rgba(50, 50, 93, 0.8);

  transition: all 0.2s;
}

.reset-form__signature_invalid {
  color: #cf453c;
}

.reset-form__field_valid + .reset-form__label .reset-form__signature_invalid,
.reset-form__field_invalid + .reset-form__label .reset-form__signature_valid {
  display: none;
}

.reset-form__field_valid + .reset-form__label .reset-form__signature_valid,
.reset-form__field_invalid + .reset-form__label .reset-form__signature_invalid {
  display: block;
}

.reset-form__signature sup {
  position: relative;
  top: -3px;
  left: 5px;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 20px;
  color: #cf453c;
}

.reset-form__field_text:focus + .reset-form__label .reset-form__signature,
.reset-form__signature_focused {
  position: absolute;
  top: -50px;
  left: 0;

  font-family: "GothamPro-Regular", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.reset-form__field_text:focus + .reset-form__label .reset-form__signature sup,
.reset-form__signature_focused sup {
  top: -2px;
  left: 3px;

  font-size: 15px;
}

.reset-form__button_submit {
  width: 100%;
  margin-bottom: 12px;
  padding: 22px 28px;

  font-size: 16px;
  line-height: 30px;
}


/* ------------- Footer ------------- */

.page-footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.page-footer__logo {
  order: 0;
  margin-bottom: 20px;
}

.logo__image_blue {
  max-width: 186px;
  max-height: 59px;
}

.socials {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
  width: 100%;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  list-style-type: none;
}

.socials__link {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.socials__link::before {
  content: "";

  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
}

.socials__link_vkontakte:hover,
.socials__link_vkontakte:focus {
  background-color: #41658b;
}

.socials__link_vkontakte::before {
  width: 25px;
  height: 15px;

  background-position: -101px -471px;
}

.socials__link_vkontakte:hover::before,
.socials__link_vkontakte:focus::before {
  background-position: -136px -471px;
}

.socials__link_facebook:hover,
.socials__link_facebook:focus {
  background-color: #395697;
}

.socials__link_facebook::before {
  width: 10px;
  height: 18px;

  background-position: -5px -188px;
}

.socials__link_facebook:hover::before,
.socials__link_facebook:focus::before {
  background-position: -25px -188px;
}

.socials__link_twitter:hover,
.socials__link_twitter:focus {
  background-color: #1eb7ff;
}

.socials__link_twitter::before {
  width: 25px;
  height: 18px;

  background-position: -5px -471px;
}

.socials__link_twitter:hover::before,
.socials__link_twitter:focus::before {
  background-position: -40px -471px;
}

.site-navigation_footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  order: 2;
  padding: 0 30px;
}

.site-navigation__item_footer {
  width: 130px;

  line-height: 25px;
}

.site-navigation__link_footer {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;

  font-size: 13px;
  line-height: 25px;
  color: #666666;
}

.site-navigation__link_footer:hover,
.site-navigation__link_footer:focus {
  color: #4a9ad8;
}
