/* ------------- Tablet styles (768px) ------------- */

@media screen and (min-width: 768px) {

  .container {
    width: 768px;
  }

  .button_big {
    padding:21px 44px;

    border-radius: 44px;
  }


  /* ------------- Header ------------- */

  .page-header {
    min-height: 114px;
  }

  .container_page-header {
    align-items: flex-start;

    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .main-navigation_visible {
    min-height: 1024px;
    padding-bottom: 38px;
  }

  .main-navigation__logo {
    margin-top: 26px;
    margin-left: 27px;
    margin-right: auto;
    margin-bottom: 22px;
  }

  .logo__image {
    max-width: 207px;
    max-height: 66px;
  }

  .main-navigation__button {
    order: 2;
    margin-top: 48px;
    margin-left: 11px;
    margin-right: 34px;
  }

  .site-navigation_header {
    order: 3;
    margin-bottom: 0;
    padding-top: 256px;
  }

  .site-navigation__item_header {
    margin-bottom: 32px;
  }

  .user-navigation {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: flex-end;
    order: 1;
    width: auto;
    max-width: 420px;
    min-height: auto;
    margin-top: 36px;
  }

  .user-navigation__item {
    margin-right: 18px;
  }

  .user-navigation__item_exit {
    margin-left: 0;
  }

  .user-navigation__button {
    min-width: auto;
  }

  .user-navigation__button_enter {
    min-width: 102px;
  }


  /* ------------- Main content ------------- */

  .indicators {
    display: none;
  }


  /* ------------- Intro ------------- */

  .intro {
    padding: 0 35px;
    padding-top: 559px;
    padding-bottom: 20px;

    background-position: center 55px;
    -webkit-background-size: 420px 456px;
    background-size: 420px 456px;
  }

  .intro__text_big {
    margin-bottom: 2px;

    font-size: 40px;
    line-height: 58px;
  }

  .intro__text_huge {
    margin-bottom: 24px;

    font-size: 50px;
    line-height: 60px;
  }


  /* ------------- Advantages ------------- */

  .advantages-list {
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 40px;
  }

  .advantages-item {
    display: block;
    width: 323px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 32px;
  }

  .advantages__button {
    margin-bottom: 19px;
  }


  /* ------------- Use cases ------------- */

  .use-cases__item {
    width: 688px;
  }


  /* ------------- Reviews ------------- */

  .reviews__item {
    width: 688px;
  }


  /* ------------- Registration ------------- */

  .registration-form {
    width: 450px;
  }

  .registration-form__label_radio {
    width: 210px;
  }

  .registration-form__field_text {
    width: 360px;
  }


  /* ------------- Enter ------------- */

  .enter-form {
    width: 360px;
  }


  /* ------------- Reset ------------- */

  .reset-form {
    width: 360px;
  }


  /* ------------- Footer ------------- */

  .page-footer {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    margin-bottom: 33px;
  }

  .logo__image_blue {
    max-width: 207px;
    max-height: 66px;
  }

  .socials {
    justify-content: flex-end;
    width: 50%;
    margin-left: auto;
    margin-right: 72px;
    margin-bottom: 38px;
  }

  .site-navigation_footer {
    padding: 0;
  }

  .site-navigation__item_footer {
    width: auto;
    margin-right: 24px;
  }

}
